<!-- header -->
<nav class="navbar sticky-top navbar-light bg-light" style="background-image: url(../assets/Artboard-4@2x1-1.jpg);background-size: cover;">
  <span class="navbar-text" style="text-align: center;">
    <h4 style="color: rgb(53, 78, 114);"><strong>Zeta Global Interview Test</strong></h4>
    <p style="color: black;"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex</strong></p>
  </span>
</nav>

<!-- trends component -->
<app-trends></app-trends>

<!-- footer -->
<footer style="background-color: rgb(53, 78, 114);"
  class="d-flex justify-content-center align-items-center">

  <img src="../assets/zeta-logo.png" alt="" height="30" width="30" class="align-self-center">
  <br>
  <p style="color: whitesmoke;">&copy;2019 ZETA. All Rights Preserved | Privacy Policy | Acceptable Use Policy</p>
</footer>