.navbar{
  min-height: 210px;
}

.bgImg{
  background-image: url(../assets/Artboard-4@2x1-1.jpg);
  background-size: cover;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 65px;
}